
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin:0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
body {
    height: 100vh;
    background-color:#E25C10;
}

.cabecalho{
    width: 100%;
    height: 180px;
    background-color: #A64006;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.dados{
    color: #fff;
}
.endereco{
    color: #fff;
    font-size: 20px;
}

.tituloBox{
    font-size: 30px;
    color: #3F92C5;
    margin: 10px;
    text-align: center;
}

.container {
    width: 400px;
    height: 200px;
    background-color: #ffff;
    margin: 0 30px;
    display: flex;
    flex-direction:column ;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.container-wrapper {
    display: flex;
    padding-top: 50px;
}

.tituloBox{
    font-size: 20px;
}

.subtituloBox{
    font-size: 15px;
}